.two-clubs {
    content: url("cardImages/2C.jpg");  //15% size of original jpeg
}
.two-clubs:before {
    content: url("cardImages/2C.jpg");  //15% size of original jpeg
}
.two-diamonds{
    content: url("cardImages/2D.jpg");
}
.two-diamonds:before{
    content: url("cardImages/2D.jpg");
}
.two-hearts  {
    content: url("cardImages/2H.jpg");
}
.two-hearts:before  {
    content: url("cardImages/2H.jpg");
}
.two-spades  {
    content: url("cardImages/2S.jpg");
}
.two-spades:before  {
    content: url("cardImages/2S.jpg");
}
.three-clubs {
    content: url("cardImages/3C.jpg");
}
.three-clubs:before {
    content: url("cardImages/3C.jpg");
}
.three-diamonds{
    content: url("cardImages/3D.jpg");
}
.three-diamonds:before {
    content: url("cardImages/3D.jpg");
}
.three-hearts  {
    content: url("cardImages/3H.jpg");
}
.three-hearts:before  {
    content: url("cardImages/3H.jpg");
}
.three-spades  {
    content: url("cardImages/3S.jpg");
}
.three-spades:before  {
    content: url("cardImages/3S.jpg");
}
.four-clubs {
    content: url("cardImages/4C.jpg");
}
.four-clubs:before {
    content: url("cardImages/4C.jpg");
}
.four-diamonds{
    content: url("cardImages/4D.jpg");
}
.four-diamonds:before {
    content: url("cardImages/4D.jpg");
}
.four-hearts  {
    content: url("cardImages/4H.jpg");
}
.four-hearts:before  {
    content: url("cardImages/4H.jpg");
}
.four-spades  {
    content: url("cardImages/4S.jpg");
}
.four-spades:before  {
    content: url("cardImages/4S.jpg");
}
.five-clubs {
    content: url("cardImages/5C.jpg");
}
.five-clubs:before {
    content: url("cardImages/5C.jpg");
}
.five-diamonds{
    content: url("cardImages/5D.jpg");
}
.five-diamonds:before{
    content: url("cardImages/5D.jpg");
}
.five-hearts  {
    content: url("cardImages/5H.jpg");
}
.five-hearts:before  {
    content: url("cardImages/5H.jpg");
}
.five-spades  {
    content: url("cardImages/5S.jpg");
}
.five-spades:before  {
    content: url("cardImages/5S.jpg");
}
.six-clubs {
    content: url("cardImages/6C.jpg");
}
.six-clubs:before {
    content: url("cardImages/6C.jpg");
}
.six-diamonds{
    content: url("cardImages/6D.jpg");
}
.six-diamonds:before{
    content: url("cardImages/6D.jpg");
}
.six-hearts  {
    content: url("cardImages/6H.jpg");
}
.six-hearts:before  {
    content: url("cardImages/6H.jpg");
}
.six-spades  {
    content: url("cardImages/6S.jpg");
}
.six-spades:before  {
    content: url("cardImages/6S.jpg");
}
.seven-clubs {
    content: url("cardImages/7C.jpg");
}
.seven-clubs:before {
    content: url("cardImages/7C.jpg");
}
.seven-diamonds  {
    content: url("cardImages/7D.jpg");
}
.seven-diamonds:before {
    content: url("cardImages/7D.jpg");
}
.seven-hearts  {
    content: url("cardImages/7H.jpg");
}
.seven-hearts:before  {
    content: url("cardImages/7H.jpg");
}
.seven-spades  {
    content: url("cardImages/7S.jpg");
}
.seven-spades:before  {
    content: url("cardImages/7S.jpg");
}
.eight-clubs {
    content: url("cardImages/8C.jpg");
}
.eight-clubs:before {
    content: url("cardImages/8C.jpg");
}
.eight-diamonds{
    content: url("cardImages/8D.jpg");
}
.eight-diamonds:before {
    content: url("cardImages/8D.jpg");
}
.eight-hearts  {
    content: url("cardImages/8H.jpg");
}
.eight-hearts:before  {
    content: url("cardImages/8H.jpg");
}
.eight-spades  {
    content: url("cardImages/8S.jpg");
}
.eight-spades:before  {
    content: url("cardImages/8S.jpg");
}
.nine-clubs {
    content: url("cardImages/9C.jpg");
}
.nine-clubs:before {
    content: url("cardImages/9C.jpg");
}
.nine-diamonds{
    content: url("cardImages/9D.jpg");
}
.nine-diamonds:before {
    content: url("cardImages/9D.jpg");
}
.nine-hearts  {
    content: url("cardImages/9H.jpg");
}
.nine-hearts:before  {
    content: url("cardImages/9H.jpg");
}
.nine-spades  {
    content: url("cardImages/9S.jpg");
}
.nine-spades:before  {
    content: url("cardImages/9S.jpg");
}
.ten-clubs {
    content: url("cardImages/10C.jpg");
}
.ten-clubs:before {
    content: url("cardImages/10C.jpg");
}
.ten-diamonds{
    content: url("cardImages/10D.jpg");
}
.ten-diamonds:before  {
    content: url("cardImages/10D.jpg");
}
.ten-hearts  {
    content: url("cardImages/10H.jpg");
}
.ten-hearts:before  {
    content: url("cardImages/10H.jpg");
}
.ten-spades  {
    content: url("cardImages/10S.jpg");
}
.ten-spades:before  {
    content: url("cardImages/10S.jpg");
}
.jack-clubs {
    content: url("cardImages/JC.jpg");
}
.jack-clubs:before {
    content: url("cardImages/JC.jpg");
}
.jack-diamonds{
    content: url("cardImages/JD.jpg");
}
.jack-diamonds:before{
    content: url("cardImages/JD.jpg");
}
.jack-hearts  {
    content: url("cardImages/JH.jpg");
}
.jack-hearts:before  {
    content: url("cardImages/JH.jpg");
}
.jack-spades  {
    content: url("cardImages/JS.jpg");
}
.jack-spades:before  {
    content: url("cardImages/JS.jpg");
}
.queen-clubs {
    content: url("cardImages/QC.jpg");
}
.queen-clubs:before {
    content: url("cardImages/QC.jpg");
}
.queen-diamonds{
    content: url("cardImages/QD.jpg");
}
.queen-diamonds:before{
    content: url("cardImages/QD.jpg");
}
.queen-hearts  {
    content: url("cardImages/QH.jpg");
}
.queen-hearts:before  {
    content: url("cardImages/QH.jpg");
}
.queen-spades  {
    content: url("cardImages/QS.jpg");
}
.queen-spades:before  {
    content: url("cardImages/QS.jpg");
}
.king-clubs {
    content: url("cardImages/KC.jpg");
}
.king-clubs:before {
    content: url("cardImages/KC.jpg");
}
.king-diamonds{
    content: url("cardImages/KD.jpg");
}
.king-diamonds:before{
    content: url("cardImages/KD.jpg");
}
.king-hearts  {
    content: url("cardImages/KH.jpg");
}
.king-hearts:before  {
    content: url("cardImages/KH.jpg");
}
.king-spades  {
    content: url("cardImages/KS.jpg");
}
.king-spades:before  {
    content: url("cardImages/KS.jpg");
}
.ace-clubs {
    content: url("cardImages/AC.jpg");
}
.ace-clubs:before {
    content: url("cardImages/AC.jpg");
}
.ace-diamonds{
    content: url("cardImages/AD.jpg");
}
.ace-diamonds:before {
    content: url("cardImages/AD.jpg");
}
.ace-hearts  {
    content: url("cardImages/AH.jpg");
}
.ace-hearts:before  {
    content: url("cardImages/AH.jpg");
}
.ace-spades  {
    content: url("cardImages/AS.jpg");
}
.ace-spades:before  {
    content: url("cardImages/AS.jpg");
}

.card-back  {
    content: url("cardImages/Gray_back.jpg");
    position: absolute;  
}

.card-back:before  {
    content: url("cardImages/Gray_back.jpg");
    position: absolute;
}

.big  {
    background-color: #42eef4;
    background: url("cardImages/argyle-background.png");
    background-size: cover;
    max-height: 80%;
 /*  max-width: 98%;
    min-width: 75%;   */
    text-align: center;
}

#whole-page  {
    background-color: light-blue;
    margin-left: auto;
  /  margin-right: auto;
  /*  text-align: center;  */
  /*  position: absolute;  */
}


li  {
    display: inline;
    
}

#message	{
	position: absolute;
	right: 0;
	margin-right: 20%;
	margin-bottom: 5%;
	color: red;
}

#bank  {
	border: 5px solid green;
	position: absolute;
	right: 0;
	margin-right: 10%;
	background: white;
	width: 20%;
	font-size: 24px;
	font-weight: bold;
}

#buttons-group  {
	padding: 10%;

}

#pots-table 	{
	border: 5px solid green;
	position: absolute;
	right: 0;
	margin-right: 10%;
	font-size: 24px;
	font-weight: bold;
	background: white;
	width: 20%;
}
tr	{
	border: 5px solid green;
}

.hide  {
    visibility: hidden;
}

.inline  {
    display: inline;
}

#container  {
	float: left;
	display: inline;
	/*position: absolute;  */
/*	min-height: 200px;  */
	max-width: 100%;  
	min-width: 80%;
    	margin-left: 2%;
    /*	margin-right: 44%; */
	text-align: center;
	/* min-width: 10px;  */
/*	max-height: 75%;
	min-height: 75%;	*/
	border-color: blue;
	margin-top: -10%;  
}

#top-card  {
	z-index: 0;
	margin-left: 1%;
	margin-top: 1%;
	
}
#second-card  {
	z-index: 1;
	margin-left: 0.8%;
	margin-top:  0.8%;
}
#third-card  {
	z-index: 2;
	margin-left: 0.6%;
	margin-top: 0.6%;
}
#fourth-card  {
	z-index: 3;
	margin-left: 0.4%;
	margin-top: 0.4%;
}
#fifth-card  {
	z-index: 4;
	margin-left: 0.2%;
	margin-top: 0.2%;
}

#dealer-cards-container {
	position: relative;
	height: 200px;
	
}
#dealer-first-card  {
/*	display: inline;  */
}
#dealer-second-card {
/*	position: relative;	*/
/*	left: 110px;  */
}
.card-back-single  {
	content: url("cardImages/Gray_back.jpg");
}

.card-back-single:before  {
	content: url("cardImages/Gray_back.jpg");
}

#hit-button, #hold-button, #double-down-button, #split-button, #deal-button	{
	border-color: black;
	color: black;
	border-width: 3px;
	border-radius: 25px;
	font-weight: bold;
}

p	{
	font-size: 24px;
}





