.two-clubs {
    content: url("cardImages/2C.jpg");  //15% size of original jpeg
}
.two-clubs:before {
    content: url("cardImages/2C.jpg");  //15% size of original jpeg
}
.two-diamonds{
    content: url("cardImages/2D.jpg");
}
.two-hearts  {
    content: url("cardImages/2H.jpg");
}
.two-spades  {
    content: url("cardImages/2S.jpg");
}
.three-clubs {
    content: url("cardImages/3C.jpg");
}
.three-diamonds{
    content: url("cardImages/3D.jpg");
}
.three-hearts  {
    content: url("cardImages/3H.jpg");
}
.three-spades  {
    content: url("cardImages/3S.jpg");
}
.four-clubs {
    content: url("cardImages/4C.jpg");
}
.four-diamonds{
    content: url("cardImages/4D.jpg");
}
.four-hearts  {
    content: url("cardImages/4H.jpg");
}
.four-spades  {
    content: url("cardImages/4S.jpg");
}
.five-clubs {
    content: url("cardImages/5C.jpg");
}
.five-diamonds{
    content: url("cardImages/5D.jpg");
}
.five-hearts  {
    content: url("cardImages/5H.jpg");
}
.five-spades  {
    content: url("cardImages/5S.jpg");
}
.six-clubs {
    content: url("cardImages/6C.jpg");
}
.six-diamonds{
    content: url("cardImages/6D.jpg");
}
.six-hearts  {
    content: url("cardImages/6H.jpg");
}
.six-spades  {
    content: url("cardImages/6S.jpg");
}

.seven-clubs {
    content: url("cardImages/7C.jpg");
}
.seven-diamonds{
    content: url("cardImages/7D.jpg");
}
.seven-hearts  {
    content: url("cardImages/7H.jpg");
}
.seven-spades  {
    content: url("cardImages/7S.jpg");
}
.eight-clubs {
    content: url("cardImages/8C.jpg");
}
.eight-diamonds{
    content: url("cardImages/8D.jpg");
}
.eight-hearts  {
    content: url("cardImages/8H.jpg");
}
.eight-spades  {
    content: url("cardImages/8S.jpg");
}
.nine-clubs {
    content: url("cardImages/9C.jpg");
}
.nine-diamonds{
    content: url("cardImages/9D.jpg");
}
.nine-hearts  {
    content: url("cardImages/9H.jpg");
}
.nine-spades  {
    content: url("cardImages/9S.jpg");
}
.ten-clubs {
    content: url("cardImages/10C.jpg");
}
.ten-diamonds{
    content: url("cardImages/10D.jpg");
}
.ten-hearts  {
    content: url("cardImages/10H.jpg");
}
.ten-spades  {
    content: url("cardImages/10S.jpg");
}
.jack-clubs {
    content: url("cardImages/JC.jpg");
}
.jack-diamonds{
    content: url("cardImages/JD.jpg");
}
.jack-hearts  {
    content: url("cardImages/JH.jpg");
}
.jack-spades  {
    content: url("cardImages/JS.jpg");
}
.queen-clubs {
    content: url("cardImages/QC.jpg");
}
.queen-diamonds{
    content: url("cardImages/QD.jpg");
}
.queen-hearts  {
    content: url("cardImages/QH.jpg");
}
.queen-spades  {
    content: url("cardImages/QS.jpg");
}
.king-clubs {
    content: url("cardImages/KC.jpg");
}
.king-diamonds{
    content: url("cardImages/KD.jpg");
}
.king-hearts  {
    content: url("cardImages/KH.jpg");
}
.king-spades  {
    content: url("cardImages/KS.jpg");
}
.ace-clubs {
    content: url("cardImages/AC.jpg");
}
.ace-diamonds{
    content: url("cardImages/AD.jpg");
}
.ace-hearts  {
    content: url("cardImages/AH.jpg");
}
.ace-spades  {
    content: url("cardImages/AS.jpg");
}

.card-back  {
    content: url("cardImages/Gray_back.jpg");
    position: absolute;
}

body  {
    background-color: light-blue;
}

#whole-page  {
    background-color: light-blue;
    position: absolute;
}

h3  {
    background-color: red;
}
li  {
    display: inline;
}

#bank  {
    border: solid;
}
.hide  {
    visibility: hidden;
}
.inline  {
    display: inline;
}
.container  {
	position: relative;
	min-height: 200px;
	/*min-width: 10px;*/
}

#top-card  {
	z-index: 0;
	margin-left: 1%;
	margin-top: 1%;
}
#second-card  {
	z-index: 1;
	margin-left: 0.8%;
	margin-top:  0.8%;
}
#third-card  {
	z-index: 2;
		margin-left: 0.6%;
	margin-top: 0.6%;
}
#fourth-card  {
	z-index: 3;
	margin-left: 0.4%;
	margin-top: 0.4%;
}
#fifth-card  {
	z-index: 4;
	margin-left: 0.2%;
	margin-top: 0.2%;
}

#dealer-cards-container {
	position: relative;
	height: 200px;
	
}
#dealer-first-card  {
	display: inline;
/*	content: url("cardImages/Gray_back.jpg");  */
}
#dealer-second-card {
	relative:
	left: 110px;
}
.card-back-single  {
	content: url("cardImages/Gray_back.jpg");
}
