body  {
	text-align: center;
	padding: 10%;
	border-style: solid;
	border-color: white;
	border-weight: 10px;
    	background: #7fffd4;
	background: #277714;
}


.btn  {
	visibility: hidden;
	color: black;
border: solid;
border-color: black;
border-width: 2px;
font-weight: bold;
background-color: #CFD1D1;
}

#isBlackButton, #notBlackButton  {
	visibility: visible;
}

ul li {
	display: inline;
}



div  {	
	
	background: #277714;
	background: #7fffd4;
	background: #F5E99D;
	font-weight: 900;
	border-style: solid;
	border-color: black;
	border-weight: 10px;

}

.red {
	color: red;
}
.red, .black  {
	text-shadow: 1.5px 1.5px 2px #BBBCBD;
}

#Name  {
	padding-bottom: 2%;
	text-shadow: 1.5px 1.5px 2px #555657;
}