body  {
	text-align: center;
	padding: 10%;
    	
}


.btn  {
	visibility: hidden;
}

#isBlackButton, #notBlackButton  {
	visibility: visible;
}

ul li {
	display: inline;
}



div  {
	background: #277714;
	font-weight: 900;
}