body  {
	text-align: center;
	padding: 10%;
	border-style: solid;
	border-color: black;
	border-weight: 10px;
    	background: #7fffd4;
	background: #277714;
}


.btn  {
	visibility: hidden;
}

#isBlackButton, #notBlackButton  {
	visibility: visible;
}

ul li {
	display: inline;
}



div  {	
	
	background: #277714;
	background: #7fffd4;
	background: #F5E99D;
	font-weight: 900;
	border-style: solid;
	border-color: black;
	border-weight: 10px;

}

.red {
	color: red;
}