
body {
    margin: 0px, 20px;
    padding: 0;
    background-image: url("AuburnHeader.PNG");
    background-repeat:no-repeat;
    
    background-position: center;
    
    
    
}





/* body, h1, h3 {
     background-color: blue; */
      
    

#title {
    
    text-align: center;
    padding-top: 50px;
    color: #dd550c;
    
    text-shadow: -2px 0 #03244d, 0 2px #03244d, 2px 0 #03244d, 0 -2px #03244d;
    font-family: "Ultra", serif;
}
#tagline {
    position:relative;
    top: 60%;
    text-align: center;
    color: #dd550c;
    
    text-shadow: -2px 0 #03244d, 0 2px #03244d, 2px 0 #03244d, 0 -2px #03244d;
    font-size: 150%;
    font-weight: bold;
    
}

h1 {
    font-size: 250%;
    
}
iframe  {
    height: 100%;
    width:  100%;
   }

#main-logo  {
    height: 70%;
    width:  70%;
    text-align: center;
   
  }

#helmet  {
  height: 50%;
  width: 50%;
  text-align: center;
}

#HeaderPic  {
  height: 30.1%;
  width: 100%;
  margin: 0px auto;
}