
#crypto-table  {
    padding: 0.5%;
}

#crypto-table-header  {
    text-align: center;
}

.percent-increase {
    color: green;
    font-weight: bold;
}

.percent-decrease {
    color: red;
    font-weight: bold;
}

#crypto-table tr:nth-child(even) {
    background-color: lightgray;
}

#bitcoin-row, #litecoin-row, #additional-row {
    background-color: white;
}

table, th, td {
    
    border: 3px solid black;
    padding: 3px;
    text-align: center;
    vertical-align: middle;    
}

table  {
    min-width: 85%;
    max-width: 99%;
    font-size: 300%;
    text-align: center;
}

tr  {
    border: 3px solid black;
    text-align: center;
}


.hidden  {
    visibility: hidden;
}


thead  {
    background-color: green;
    color: white;
}

body  {
    text-align: center;
    border: 5px solid black;
    max-width: 100%;
    min-width: 400px;
    margin-top: 3%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;  
    padding: 1.5%;
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SImAn91gin31gtxk/videoblocks-bitcoins-falling-on-pile-cryptocurrency-digital-internet-money-3d-background-bitcoin-currency-gaining-or-losing-value-fluctuation_bhmhxbmwz_thumbnail-full01.png"); 
    
     
    background-position: center center;  
    font-weight: bold;
    
}

#whole-page  {
    background-color: lightgray;
    border: 5px solid green;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#additional-value {
    min-width: 50%;
    text-align: center;  
    font-size: 200%;
    height: 65px;
    border: 1px solid black;
    padding-bottom: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#view-additional-currency  {
    height: 65px; 
    color: red;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;

    
}

form  {
    border: solid;
    border-color: white;
    
}    