
#crypto-table  {
    padding: 0.5%;
    
    
}


.percent-increase {
    color: green;
    font-weight: bold;
}

.percent-decrease {
    color: red;
    font-weight: bold;
}

#crypto-table tr:nth-child(even) {
    background-color: lightgray;
}

#bitcoin-row, #litecoin-row, #additional-row {
    background-color: white;
}

table, th, td {
    
    border: 3px solid black;
    padding: 3px;
    
    
    
}

tr  {
    border: 3px solid black;
    text-align: center;
}


.hidden  {
    visibility: hidden;
}


thead  {
    background-color: green;
    color: white;
    
    font-weight: bold;   /* not working for some reason */
}

body  {
    text-align: center;
    border: 5px solid black;
    max-width: 650px;
    min-width: 300px;
    margin-top: 3%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;  
    padding: 1.5%;
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SImAn91gin31gtxk/videoblocks-bitcoins-falling-on-pile-cryptocurrency-digital-internet-money-3d-background-bitcoin-currency-gaining-or-losing-value-fluctuation_bhmhxbmwz_thumbnail-full01.png"); 
   /*   background-size: cover;
     
    background-position: center center;  */
    font-weight: bold;
    
}

#whole-page  {
    background-color: lightgray;
    border: 5px solid green;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}